.no-scroll {
  height: 100%;
  overflow: hidden;
}

.container {
  max-width: 96%;
}

#wmd-editarea {
  position: relative;
}

.wmd-button-row {
  height: unset;
}

#text, #wmd-preview {
  width: 50%;
  margin: 0 !important;
}

#wmd-preview {
  position: absolute;
  top: 0;
  right: 0%;
  overflow-y: auto;
  background: #FFF;
  border: 1px solid #D9D9D6;
  padding: 7px;
  border-radius: 2px;
  box-sizing: border-box;

  pre {
    background-color: hsl(0, 0%, 99.2%);
    border-radius: .33em;
    margin: 20px 0;
    overflow-y: auto;
    overflow: hidden;
    white-space: pre-wrap;

  }

  code {
    background: none;
    font-size: 15px !important;
  }
}

#wmd-button-row {
  .wmd-button {
    svg {
      display: block;
      width: 20px;
      height: 20px;
      fill: #999;
    }
  }
}

.edit-area {
  position: relative;
}

.fullscreen .edit-area {
  position: unset;
}


img.owo {
  width: 24px;
  height: 24px;
  margin: 0 2px;
}

#wmd-preview {
  iframe {
    max-height: 300px;
  }
}

.x {
  &-hide {
    padding: 5px;
    background: repeating-linear-gradient(145deg, #f2f2f2, #f2f2f2 15px, #fff 0, #fff 30px);

    br:first-child {
      display: none;
    }
  }

  &-post {
    background: #eee;
    min-height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;

    p {
      margin: 0;
    }
  }
}

@import "custom";

.submit.clearfix {
  position: sticky;
  bottom: 0;
  background: #fff;
  box-shadow: 1px -1px 1px 2px rgba(186, 220, 255, 0.65);
  padding: 2px;
}

.preview .submit.clearfix {
  position: absolute;
}

#upload-panel span.ph-btn {
  display: block;
  text-align: center;
  background-color: #3ca5f6;
  padding: .5em;
  cursor: pointer;
  color: #fff;
  margin-bottom: .25em;
  transition: all .2s;

  &:hover {
    background-color: #2e76ff;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

/** 动画 */
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(+2px, 0, 0);
  }
  30%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(+4px, 0, 0);
  }
  50% {
    transform: translate3d(-4px, 0, 0);
  }
}